openapi: 3.0.0
info:
  title: Weaviate API
  version: '1.0'
servers:
  - url: 'http://weaviate.cdaprod.dev/v1'
paths:
  /schema:
    get:
      operationId: getSchema
      summary: Retrieve the schema
      responses:
        '200':
          description: Schema retrieved successfully
  /schema/{class_name}:
    get:
      operationId: getClass
      summary: Retrieve a specific class from the schema
      parameters:
        - in: path
          name: class_name
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Class retrieved successfully
    put:
      operationId: updateClass
      summary: Update a specific class in the schema
      parameters:
        - in: path
          name: class_name
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Class'
      responses:
        '200':
          description: Class updated successfully
    delete:
      operationId: deleteClass
      summary: Delete a specific class from the schema
      parameters:
        - in: path
          name: class_name
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Class deleted successfully
  /schema/{class_name}/properties:
    post:
      operationId: createProperty
      summary: Create a property for a specific class
      parameters:
        - in: path
          name: class_name
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        '200':
          description: Property created successfully
components:
  schemas:
    Class:
      type: object
      properties:
        class:
          type: string
        description:
          type: string
        properties:
          type: array
          items:
            $ref: '#/components/schemas/Property'
    Property:
      type: object
      properties:
        name:
          type: string
        dataType:
          type: array
          items:
            type: string


openapi: 3.0.0
info:
  title: Weaviate API
  version: '1.0'
servers:
  - url: 'http://weaviate.cdaprod.dev/v1'
paths:
  /schema:
    get:
      summary: Retrieve the schema
      responses:
        '200':
          description: Schema retrieved successfully
    post:
      summary: Create a new class in the schema
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Class'
      responses:
        '200':
          description: Class created successfully
  /schema/{class_name}:
    get:
      summary: Retrieve a specific class from the schema
      parameters:
        - in: path
          name: class_name
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Class retrieved successfully
    put:
      summary: Update a specific class in the schema
      parameters:
        - in: path
          name: class_name
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Class'
      responses:
        '200':
          description: Class updated successfully
    delete:
      summary: Delete a specific class from the schema
      parameters:
        - in: path
          name: class_name
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Class deleted successfully
components:
  schemas:
    Class:
      type: object
      properties:
        class:
          type: string
        description:
          type: string
        properties:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              dataType:
                type: array
                items:
                  type: string
